.header {
    overflow: hidden;
    background-color: #F3F3F5;
}

/* Style the header links */
.header a {
    float: none;
    color: #2d862d;
    text-align: center;
    padding: 70px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: "Calibri";
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #206020;
    color: white;
}

/* Style the active/current link*/
.header a.active {
    background-color: #206020;
    color: white;
}

/* Float the link section to the right */
.header-right {
    float: none;
    margin: auto;
    width: 50%;


}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: center;
    }
    .header-right {
        float: none;
    }
}